.App {
	text-align: center;
	/* margin: 1.5em; */
	margin: var(--def-margin);
	border: 1px solid #000;
	overflow: hidden;
}

.country {
	fill: #fff;
	stroke: #007fff;
	stroke-width: 1.5;
}













/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */