.App {
	text-align: center;
	/* margin: 1.5em; */
	margin: var(--def-margin);
	overflow: hidden;
}









/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */